This Lab is based on the Text mining  and NLP Course

## Lab 1.  Data analysis with pandas

# Table of Contents
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

Explanation:

Step 1: Loading and Handling Missing Data


When we load the dataset, some information might be missing. These missing values are marked as NaN (Not a Number).
We'll first look at these missing values, and then decide if we should remove those rows or fill in the gaps with something else.

Step 2: Parsing Data Columns


Sometimes, the data we have can be split into more detailed parts. For example, if we have a column that combines an author's full name, we might split it into "First Name" and "Last Name."
This process is called parsing, and it helps us get more specific information from our data.

Step 3: Grouping and Aggregating Data


Grouping data means organizing it based on a shared feature. For example, we can group all books by the same author.
After grouping, we can summarize the data to answer questions like, "Which author has the most books on the list?" or "Which genre is most popular?"

### Basic EDA workflow


The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning.

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [3]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv")

#Examine the first few rows of the dataframe
df.head()

   4.40   136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html    2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478.0  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564.0                            Twilight (Twilight, #1)
2  4.23  47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123.0                              To Kill a Mockingbird
3  4.23  34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992.0                                Pride and Prejudice
4  4.25  12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470.0                                 Gone with the Wind

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [4]:
df.columns=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']
df.head()

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name
0    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...
1    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)
2    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird
3    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice
4    4.25       12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936.0  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html      645470.0                                 Gone with the Wind

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content.

<div class="exercise"><b>Exercise</b></div>
Lets check the types of the columns. What do you find?

In [5]:
datatypes = df.dtypes
datatypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

The DataFrame contains:
- 4 columns with float64 type: (rating, review_count, year, rating_count) are numeric.
- 6 columns with object type: (isbn, booktype, author_url, genre_urls, dir, name) likely contain text or mixed data.

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rating        5997 non-null   float64
 1   review_count  5997 non-null   float64
 2   isbn          5522 non-null   object
 3   booktype      5997 non-null   object
 4   author_url    5997 non-null   object
 5   year          5992 non-null   float64
 6   genre_urls    5937 non-null   object
 7   dir           5999 non-null   object
 8   rating_count  5997 non-null   float64
 9   name          5997 non-null   object
dtypes: float64(4), object(6)
memory usage: 468.8+ KB
None

The DataFrame has 5,999 rows and 10 columns.
Missing values are found in:
- isbn (477 missing)
- genre_urls (62 missing)
- year (7 missing).

Data cleaning is needed for missing values and format inconsistencies.

There are a couple more quick sanity checks to perform on the dataframe.

In [7]:
print(df.shape)
df.columns

(5999, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [8]:
#Get a sense of how many missing values there are in the dataframe. Do it for all columns
np.sum([df.rating.isnull()])

2

In [9]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating  review_count isbn booktype author_url  year genre_urls                              dir  rating_count name
3642     NaN           NaN  NaN      NaN        NaN   NaN        NaN  dir37/9658936-harry-potter.html           NaN  NaN
5281     NaN           NaN  NaN      NaN        NaN   NaN        NaN     dir53/113138.The_Winner.html           NaN  NaN

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [10]:
df[df.year.isnull()]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name
2441    4.23         526.0         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html        4134.0                                          La Tahzan
2868    4.61           2.0         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...          23.0  My Death Experiences - A Preacherâs 18 Apoca...
3642     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                    dir37/9658936-harry-potter.html           NaN                                                NaN
5281     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                       dir53/113138.The_Winner.html           NaN                                                NaN
5571    3.71          35.0  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...         403.0  Ãrase una vez el amor pero tuve que matarlo. ...
5657    4.32          44.0         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...        3850.0  Assassin's Apprentice / Royal Assassin (Farsee...
5682    4.56         204.0         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html         895.0                 Tiger's Dream (The Tiger Saga, #5)

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [11]:
#Treat the missing or invalid values in your dataframe

df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [12]:
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

In [13]:
print(np.sum(df.year.isnull()))
print(np.sum(df.rating_count.isnull()))
print(np.sum(df.review_count.isnull()))
# We removed seven rows
df.shape

0
0
0

(5992, 10)

*Suspect observations for rating and rating_count were removed as well! *

<div class="exercise"><b>Exercise</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [14]:
df['year'] = df['year'].astype(int)

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [15]:
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [16]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [17]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/1077326.J_K_Rowling'

In [18]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'J_K_Rowling'

<div class="exercise"><b>Exercise</b></div>

Lets wrap the above code into a function which we will then use

In [19]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above

def get_author(url):
    # Split the URL by '/' and take the last part
    last_part = url.split('/')[-1]
    # Split the last part by '.' and extract the author's name
    if '.' in last_part:
        return last_part.split('.')[0]  # Extract the name before the first '.'
    return last_part  # Return the last part if no '.' is present

In [20]:
#Apply the get_author function to the 'author_url' column using '.map'
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    1077326
1     941441
2       1825
3       1265
4      11081
Name: author, dtype: object

<div class="exercise"><b>Exercise</b></div>

Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [21]:
df.genre_urls.head()

0    /genres/fantasy|/genres/young-adult|/genres/fi...
1    /genres/young-adult|/genres/fantasy|/genres/ro...
2    /genres/classics|/genres/fiction|/genres/histo...
3    /genres/classics|/genres/fiction|/genres/roman...
4    /genres/classics|/genres/historical-fiction|/g...
Name: genre_urls, dtype: object

In [23]:
#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]

# Split the string into individual genres
genres=test_genre_string.strip().split('|')

# Iterate through each genre and print the last part of each URL
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

fantasy
young-adult
fiction
fantasy
magic
childrens
adventure
science-fiction-fantasy

<div class="exercise"><b>Exercise</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [24]:
def split_and_join_genres(genre_url):
    # Split the genre_url into individual genre URLs
    genres = genre_url.strip().split('|')

    # List to store the genre names
    genre_names = []

    # Loop through each genre and extract the genre name
    for e in genres:
        genre_name = e.split('/')[-1]  # Get the last part of the URL (genre name)
        genre_names.append(genre_name)

    # Join the genre names back into a string with '|' separator and return
    return "|".join(genre_names)

Test your function

In [25]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young-adult|science-fiction'

In [26]:
split_and_join_genres("")

''

<div class="exercise"><b>Exercise</b></div>

Use map again to create a new "genres" column

In [27]:
df['genres']=df.genre_urls.map(split_and_join_genres)
df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name   author                                             genres
0    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...  1077326  fantasy|young-adult|fiction|fantasy|magic|chil...
1    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)   941441  young-adult|fantasy|romance|paranormal|vampire...
2    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird     1825  classics|fiction|historical-fiction|academic|s...
3    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice     1265  classics|fiction|romance|historical-fiction|li...
4    4.25       12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html      645470.0                                 Gone with the Wind    11081  classics|historical-fiction|fiction|romance|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [28]:
df[df.author == "Marguerite_Yourcenar"]

Empty DataFrame
Columns: [rating, review_count, isbn, booktype, author_url, year, genre_urls, dir, rating_count, name, author, genres]
Index: []

Let us delete the `genre_urls` column.

In [29]:
del df['genre_urls']

And then save the dataframe out!

In [31]:
df.to_csv("cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [32]:
df[df['year'] <= 0]

      rating  review_count        isbn         booktype                                         author_url  year                                                dir  rating_count                                  name   author                                             genres
46      3.68        5785.0  0143039954  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800                        dir01/1381.The_Odyssey.html      560248.0                           The Odyssey      903  classics|fiction|poetry|fantasy|mythology|acad...
245     4.01         365.0  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800              dir03/1375.The_Iliad_The_Odyssey.html       35123.0                 The Iliad/The Odyssey      903  classics|fantasy|mythology|fantasy|academic|sc...
454     3.85        1499.0  0140449140  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -380                      dir05/30289.The_Republic.html       82022.0                          The Republic      879  philosophy|classics|non-fiction|politics|histo...
595     3.77        1240.0  0679729526  good_reads:book   https://www.goodreads.com/author/show/919.Virgil   -29                        dir06/12914.The_Aeneid.html       60308.0                            The Aeneid      919  classics|poetry|fiction|fantasy|mythology|acad...
628     3.64        1231.0  1580495931  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -429                        dir07/1554.Oedipus_Rex.html       93192.0                           Oedipus Rex     1002  classics|plays|drama|fiction|academic|school|l...
673     3.92        3559.0  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512                    dir07/10534.The_Art_of_War.html      114619.0                        The Art of War     1771  non-fiction|politics|classics|literature|psych...
745     4.06        1087.0  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500                 dir08/99944.The_Bhagavad_Gita.html       31634.0                     The Bhagavad Gita  5158478  classics|spirituality|religion|hinduism|fantas...
776     3.52        1038.0  1580493882  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -442                           dir08/7728.Antigone.html       49084.0                              Antigone     1002  drama|fiction|classics|academic|read-for-schoo...
1232    3.94         704.0  015602764X  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -400                  dir13/1540.The_Oedipus_Cycle.html       36008.0                     The Oedipus Cycle     1002  classics|plays|drama|fiction|literature|academ...
1396    4.03         890.0  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560                    dir14/21348.Aesop_s_Fables.html       71259.0                        Aesop's Fables    12452  classics|childrens|literature|fantasy|fairy-ta...
1397    3.60        1644.0  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500             dir14/19351.The_Epic_of_Gilgamesh.html       42026.0                 The Epic of Gilgamesh  5158478  religion|literature|ancient|academic|read-for-...
1427    3.80         539.0  0486275485  good_reads:book  https://www.goodreads.com/author/show/973.Euri...  -431                            dir15/752900.Medea.html       29858.0                                 Medea      973  classics|plays|drama|fiction|fantasy|mythology...
1814    3.96         493.0  0140443339  good_reads:book  https://www.goodreads.com/author/show/990.Aesc...  -458                       dir19/1519.The_Oresteia.html       18729.0                          The Oresteia      990  classics|plays|drama|fiction|fantasy|mythology...
1881    4.02         377.0  0872205541  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400   dir19/22632.The_Trial_and_Death_of_Socrates.html       18712.0       The Trial and Death of Socrates      879  philosophy|classics|non-fiction|history|litera...
2077    3.84         399.0  0140440399  good_reads:book  https://www.goodreads.com/author/show/957.Thuc...  -411  dir21/261243.The_History_of_the_Peloponnesian_...       17212.0  The History of the Peloponnesian War      957  history|classics|non-fiction|war|war|military|...
2526    3.94         506.0  0140449086  good_reads:book  https://www.goodreads.com/author/show/901.Hero...  -440                      dir26/1362.The_Histories.html       20570.0                         The Histories      901  history|classics|non-fiction|cultural|greece|l...
3132    4.30         131.0  0872203492  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400                     dir32/9462.Complete_Works.html        7454.0                        Complete Works      879  philosophy|classics|non-fiction|history|litera...
3273    3.88         411.0  0140449493  good_reads:book  https://www.goodreads.com/author/show/2192.Ari...  -350            dir33/19068.The_Nicomachean_Ethics.html       16534.0                The Nicomachean Ethics     2192  philosophy|classics|non-fiction|politics|acade...
3756    3.82         364.0  0872206033  good_reads:book  https://www.goodreads.com/author/show/1011.Ari...  -411                         dir38/1591.Lysistrata.html       18070.0                            Lysistrata     1011  plays|classics|drama|fiction|plays|theatre|hum...
4401    3.99         516.0  0140449272  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -370                     dir45/81779.The_Symposium.html       18457.0                         The Symposium      879  non-fiction|classics|philosophy|academic|schoo...
4474    4.11         281.0  0865163480  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -390                           dir45/73945.Apology.html       11478.0                               Apology      879  philosophy|classics|non-fiction|history|academ...
5366    4.07         133.0  0872206335  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -360                    dir54/30292.Five_Dialogues.html        9964.0                        Five Dialogues      879  philosophy|classics|non-fiction|academic|schoo...

We can determine the "best book" by year! For this we use Pandas groupby. Groupby allows grouping a dataframe by any (usually categorical) variable.

In [33]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [34]:
dfgb_author.count()

        rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
10003        4             4     4         4           4     4    4             4     4       4
10006        1             1     1         1           1     1    1             1     1       1
10015        4             4     4         4           4     4    4             4     4       4
10017        3             3     3         3           3     3    3             3     3       3
1002         3             3     3         3           3     3    3             3     3       3
...        ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
9972         1             1     1         1           1     1    1             1     1       1
99849        1             1     1         1           1     1    1             1     1       1
9987         7             7     7         7           7     7    7             7     7       7
9993         1             1     1         1           1     1    1             1     1       1
9996         1             1     1         1           1     1    1             1     1       1

[2675 rows x 10 columns]

Lots of useless info there. One column should suffice

In [35]:
dfgb_author['author'].count()

author
10003    4
10006    1
10015    4
10017    3
1002     3
        ..
9972     1
99849    1
9987     7
9993     1
9996     1
Name: author, Length: 2675, dtype: int64

Perhaps you want more detailed info...

In [36]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

       rating                                                       rating_count                                                                               review_count                                                                  year
        count      mean       std   min    25%    50%     75%   max        count          mean            std      min       25%      50%        75%       max        count    mean          std     min      25%     50%      75%      max count         mean        std     min      25%     50%      75%     max
author
10003     4.0  3.907500  0.079739  3.82  3.850  3.915  3.9725  3.98          4.0  96815.000000  101516.391034  22628.0  46776.50  58900.5  108939.00  246831.0          4.0  6178.5  4872.144394  2143.0  3055.75  4769.0  7891.75  13033.0   4.0  2003.750000   4.991660  1999.0  1999.75  2003.5  2007.50  2009.0
10006     1.0  4.210000       NaN  4.21  4.210  4.210  4.2100  4.21          1.0   9199.000000            NaN   9199.0   9199.00   9199.0    9199.00    9199.0          1.0  1263.0          NaN  1263.0  1263.00  1263.0  1263.00   1263.0   1.0  2007.000000        NaN  2007.0  2007.00  2007.0  2007.00  2007.0
10015     4.0  3.842500  0.112361  3.71  3.770  3.855  3.9275  3.95          4.0  40440.000000   33471.746364  15515.0  18187.25  29021.0   51273.75   88203.0          4.0  5087.0  5552.208209  1399.0  1876.00  2826.0  6037.00  13297.0   4.0  2005.000000   7.615773  1995.0  2001.75  2006.0  2009.25  2013.0
10017     3.0  3.756667  0.049329  3.70  3.740  3.780  3.7850  3.79          3.0   7526.000000    6766.989803   3147.0   3629.00   4111.0    9715.50   15320.0          3.0   222.0   180.144387    94.0   119.00   144.0   286.00    428.0   3.0  1923.333333   9.073772  1913.0  1920.00  1927.0  1928.50  1930.0
1002      3.0  3.700000  0.216333  3.52  3.580  3.640  3.7900  3.94          3.0  59428.000000   29962.496825  36008.0  42546.00  49084.0   71138.00   93192.0          3.0   991.0   266.625205   704.0   871.00  1038.0  1134.50   1231.0   3.0  -423.666667  21.501938  -442.0  -435.50  -429.0  -414.50  -400.0
...       ...       ...       ...   ...    ...    ...     ...   ...          ...           ...            ...      ...       ...      ...        ...       ...          ...     ...          ...     ...      ...     ...      ...      ...   ...          ...        ...     ...      ...     ...      ...     ...
9972      1.0  3.540000       NaN  3.54  3.540  3.540  3.5400  3.54          1.0  30234.000000            NaN  30234.0  30234.00  30234.0   30234.00   30234.0          1.0  1832.0          NaN  1832.0  1832.00  1832.0  1832.00   1832.0   1.0  2002.000000        NaN  2002.0  2002.00  2002.0  2002.00  2002.0
99849     1.0  3.560000       NaN  3.56  3.560  3.560  3.5600  3.56          1.0  23973.000000            NaN  23973.0  23973.00  23973.0   23973.00   23973.0          1.0  1400.0          NaN  1400.0  1400.00  1400.0  1400.00   1400.0   1.0  1943.000000        NaN  1943.0  1943.00  1943.0  1943.00  1943.0
9987      7.0  3.718571  0.251358  3.25  3.655  3.800  3.8250  4.02          7.0  91456.142857  103847.313339  15219.0  40346.50  55234.0   85026.50  318994.0          7.0  4534.0  4396.255073  1346.0  2272.50  3369.0  4154.50  14169.0   7.0  2002.571429   7.322503  1987.0  2002.00  2005.0  2007.00  2008.0
9993      1.0  3.820000       NaN  3.82  3.820  3.820  3.8200  3.82          1.0  15135.000000            NaN  15135.0  15135.00  15135.0   15135.00   15135.0          1.0  3034.0          NaN  3034.0  3034.00  3034.0  3034.00   3034.0   1.0  2001.000000        NaN  2001.0  2001.00  2001.0  2001.00  2001.0
9996      1.0  4.070000       NaN  4.07  4.070  4.070  4.0700  4.07          1.0  50358.000000            NaN  50358.0  50358.00  50358.0   50358.00   50358.0          1.0  2606.0          NaN  2606.0  2606.00  2606.0  2606.00   2606.0   1.0  1993.000000        NaN  1993.0  1993.00  1993.0  1993.00  1993.0

[2675 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [37]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'10003': (3.9075, 0.07973915809270471),
 '10006': (4.21, nan),
 '10015': (3.8425000000000002, 0.11236102527122122),
 '10017': (3.7566666666666664, 0.04932882862316234),
 '1002': (3.6999999999999997, 0.2163330765278393),
 '10022': (4.07, nan),
 '100326': (4.26, nan),
 '10039': (3.9025, 0.12257650672131269),
 '10074': (4.02, nan),
 '100752': (4.04, 0.18520259177452125),
 '10089': (3.92, nan),
 '10105': (3.79, nan),
 '10108': (3.7750000000000004, 0.049497474683058214),
 '1011': (3.82, nan),
 '101823': (4.34, nan),
 '1020792': (4.293333333333333, 0.1365039681962884),
 '102203': (4.41, nan),
 '1023510': (4.247142857142856, 0.07587583842793977),
 '1025097': (3.97, 0.04301162633521312),
 '10263': (4.29, nan),
 '10264': (3.87, 0.14142135623730964),
 '10289': (4.06, 0.09643650760992951),
 '10317': (3.813333333333334, 0.13428824718989124),
 '10330': (3.9699999999999998, 0.04242640687119289),
 '1033445': (3.43, nan),
 '10356': (4.03, nan),
 '10366': (4.108, 0.056302753041037115),
 '1036615': (3.813333333333334, 0.22368132093076837),
 '1036736': (4.27, 0.08485281374238578),
 '1040250': (4.175, 0.007071067811865324),
 '1041872': (3.82, nan),
 '10420': (4.0600000000000005, 0.12288205727444532),
 '10427': (4.136666666666667, 0.17243356208503408),
 '10442': (3.59, 0.16970562748477125),
 '1045163': (3.81, nan),
 '1045593': (4.05, 0.325115364140177),
 '10465': (3.39, nan),
 '104728': (4.08, nan),
 '10482': (3.86, nan),
 '1049': (4.26, nan),
 '1050': (3.82, nan),
 '1051591': (3.8899999999999997, 0.03937003937005901),
 '10517': (4.1, nan),
 '10518': (4.21, 0.08485281374238515),
 '10538': (4.26, 0.12549900398011124),
 '1054': (4.18, nan),
 '1055': (4.44, nan),
 '105590': (4.28, nan),
 '1058': (3.95, nan),
 '106': (4.08, 0.14742229591663983),
 '1064072': (3.8633333333333333, 0.254230866208911),
 '106463': (3.76, nan),
 '10652': (4.095, 0.10606601717798238),
 '10657': (4.286666666666666, 0.030550504633039155),
 '10665': (4.05, nan),
 '10673': (3.9, nan),
 '1067608': (4.17, nan),
 '10679': (4.14, nan),
 '1069006': (4.056111111111111, 0.13856996062252486),
 '10746': (4.319473684210526, 0.14323538064670285),
 '1074866': (3.79, nan),
 '107564': (4.27, nan),
 '10758': (4.11, nan),
 '10760': (4.16, nan),
 '1077176': (4.35, nan),
 '1077326': (4.317500000000001, 0.4046644700654276),
 '107767': (4.11, nan),
 '10835': (4.33, nan),
 '108424': (4.55, 0.0),
 '1084267': (4.02, nan),
 '1085845': (4.336666666666666, 0.06806859285554051),
 '10885': (3.81, 0.05656854249492385),
 '10896': (3.97076923076923, 0.1769868892725079),
 '10917': (4.03, nan),
 '109354': (4.0, 0.20663978319771814),
 '1094283': (3.85, nan),
 '10983': (4.04, nan),
 '10991': (4.13, 0.16822603841260725),
 '10992': (4.075, 0.10606601717798238),
 '1100593': (4.17, nan),
 '11029': (3.69, nan),
 '11038': (3.85, nan),
 '11047': (4.29, nan),
 '1105348': (3.94, nan),
 '1107101': (4.71, nan),
 '11072': (3.97, nan),
 '11075': (3.765, 0.12020815280171303),
 '11081': (4.25, nan),
 '1109606': (3.8325, 0.08381527307120092),
 '111001': (4.35, nan),
 '11102': (4.25, nan),
 '11121': (3.94, nan),
 '1112218': (3.29, nan),
 '1112683': (4.2, nan),
 '1113469': (4.066, 0.0779743547584718),
 '11137': (4.14, nan),
 '11139': (3.7, nan),
 '11155': (3.77, nan),
 '11164': (3.7, nan),
 '1116816': (4.24, nan),
 '11188': (3.63, nan),
 '1122775': (4.47, 0.22876479915697992),
 '11237': (4.16, nan),
 '1124': (3.97, nan),
 '1127': (4.01, nan),
 '11291': (4.21, nan),
 '11315': (3.98, nan),
 '11337': (3.6233333333333335, 0.21548395145191993),
 '11368': (4.24, nan),
 '113844': (4.1, nan),
 '1145220': (4.27, nan),
 '114528': (4.07, nan),
 '114656': (4.11, nan),
 '11466': (4.235, 0.1767766952966369),
 '11505': (3.55, nan),
 '1152263': (4.12, 0.0424264068711932),
 '11525': (3.89, nan),
 '115313': (4.14, nan),
 '11586': (4.2542857142857144, 0.05255382728122415),
 '11593': (4.24, 0.14142135623730964),
 '1159886': (4.275, 0.06363961030678918),
 '11629': (4.29, nan),
 '11633': (3.9250000000000003, 0.08266397845091498),
 '11654': (3.89, 0.2084466358567583),
 '116623': (4.55, nan),
 '11664': (3.9166666666666665, 0.0763762615825973),
 '11672': (4.15, nan),
 '11679': (3.3899999999999997, 0.07071067811865482),
 '1169504': (3.86, nan),
 '11700': (4.325, 0.12020815280171303),
 '1171746': (4.12, nan),
 '117182': (3.97, nan),
 '11728': (4.02, nan),
 '117366': (3.89, nan),
 '11761': (3.77, nan),
 '1176324': (4.25, nan),
 '11859': (3.98, nan),
 '11912': (3.9749999999999996, 0.049497474683058214),
 '119121': (4.286666666666666, 0.015275252316519626),
 '1192311': (3.81, 0.09949874371066192),
 '1194': (4.072, 0.10663020210053059),
 '1194527': (4.1, nan),
 '119755': (4.13, nan),
 '11978': (4.24, nan),
 '119830': (3.74, nan),
 '1201952': (4.050000000000001, 0.19798989873223347),
 '12034': (3.79, nan),
 '120401': (4.3149999999999995, 0.0919238815542511),
 '12080': (4.27, nan),
 '1209': (3.83, 0.15556349186104027),
 '12144': (4.32, nan),
 '1216116': (4.09, nan),
 '1218': (3.88, nan),
 '12180': (3.32, nan),
 '121825': (3.66, nan),
 '1219754': (3.35, nan),
 '1221698': (4.3351999999999995, 0.2602421948877622),
 '1226977': (3.73, 0.0),
 '123088': (3.92, nan),
 '123376': (4.39, nan),
 '1233886': (3.89, nan),
 '12339': (4.31, nan),
 '123463': (3.85, 0.1838477631085022),
 '1235': (3.9666666666666663, 0.08020806277010628),
 '12350': (4.2, nan),
 '1236': (3.9, nan),
 '1237': (4.21, nan),
 '123715': (3.9772727272727266, 0.12190905701307918),
 '123719': (3.82, nan),
 '1238': (4.086666666666667, 0.12503332889007385),
 '12397': (4.15, nan),
 '1240': (4.0200000000000005, 0.199833263830958),
 '12425': (4.335, 0.03535533905932788),
 '1244': (3.9074999999999998, 0.19300259065618772),
 '1244538': (3.84, nan),
 '12452': (4.03, nan),
 '12455': (3.873333333333333, 0.2324507116214819),
 '12470': (4.0875, 0.05909032633745278),
 '12476': (4.12, nan),
 '12479': (4.113333333333333, 0.05131601439446873),
 '12504': (4.18, nan),
 '12505': (3.89, nan),
 '1251730': (4.02, nan),
 '12521': (4.24, nan),
 '125308': (4.248571428571428, 0.18809825193486618),
 '12534': (3.973333333333334, 0.051316014394468916),
 '12540': (4.03, nan),
 '1254084': (3.99, nan),
 '12542': (4.123333333333333, 0.22327113561766107),
 '12546': (4.24, nan),
 '1257': (3.58, nan),
 '12577': (4.085714285714285, 0.1175949464414667),
 '125792': (4.25, nan),
 '12581': (3.95, nan),
 '12584': (3.795, 0.06363961030678918),
 '12585': (3.83, nan),
 '125984': (3.815, 0.2050609665440988),
 '1260': (4.11, 0.1131370849898477),
 '12605': (3.986666666666667, 0.3023794525647095),
 '1262010': (3.8449999999999998, 0.10606601717798206),
 '1265': (4.064285714285714, 0.26900168170832095),
 '12665': (3.6233333333333335, 0.13613718571108077),
 '12676': (3.91, nan),
 '12695': (4.19, nan),
 '12696': (3.7649999999999997, 0.058022983951763966),
 '1270552': (4.1, nan),
 '127314': (4.05, nan),
 '12732': (4.085, 0.021213203435595972),
 '12736': (4.14, nan),
 '1278014': (3.55, nan),
 '127901': (4.17, nan),
 '12793': (3.94, nan),
 '1280155': (4.55, nan),
 '1280953': (4.18, 0.21213203435596412),
 '12810': (4.21, nan),
 '12833': (4.125, 0.03535533905932788),
 '128382': (4.025, 0.047958315233127144),
 '1284067': (4.225, 0.1626345596729056),
 '128447': (3.98, nan),
 '1285555': (3.9244444444444446, 0.16264309938567256),
 '128607': (3.56, nan),
 '1288026': (4.08, nan),
 '128952': (4.16, nan),
 '12898': (4.2, 0.0),
 '1290625': (4.026666666666666, 0.23965252624024921),
 '12915': (3.435, 0.1767766952966369),
 '12940': (3.69, nan),
 '12942': (3.842, 0.15155856953666444),
 '12948': (4.23, nan),
 '12950': (4.1, 0.28284271247461895),
 '12980': (3.7900000000000005, 0.10816653826391973),
 '13014': (4.005, 0.09192388155425142),
 '130166': (3.95, nan),
 '1302285': (3.96, nan),
 '13026': (4.0649999999999995, 0.14849242404917495),
 '130272': (4.05, nan),
 '1304470': (3.6133333333333333, 0.1040832999733067),
 '1304819': (3.92, nan),
 '1304838': (4.05, nan),
 '1305302': (4.18, nan),
 '13078': (3.8, nan),
 '13081': (3.71, nan),
 '13084': (4.37, nan),
 '13093': (3.76, nan),
 '1310735': (4.239999999999999, 0.13076696830622028),
 '1312879': (3.825, 0.14849242404917495),
 '131321': (3.19, nan),
 '13139': (3.82, 0.08485281374238578),
 '1315': (3.877142857142857, 0.15787276371752512),
 '131683': (3.93, nan),
 '1318': (3.846666666666667, 0.047258156262526003),
 '132091': (3.6, nan),
 '13234': (3.5, nan),
 '13263': (3.97, nan),
 '13275': (3.966666666666667, 0.16120380475245202),
 '13288': (4.27, nan),
 '1330133': (4.08, nan),
 '1330287': (3.81, nan),
 '1330292': (3.9844444444444442, 0.2050677394857069),
 '133538': (4.28, nan),
 '13360': (4.13, nan),
 '13369': (4.15, nan),
 '13370': (3.78, 0.12529964086141668),
 '13388': (4.0425, 0.09178779875342905),
 '1339': (3.795, 0.06363961030678918),
 '1340291': (3.72, nan),
 '13450': (3.8175, 0.16850180160122072),
 '13453': (4.203333333333333, 0.08326663997864503),
 '134770': (4.34, nan),
 '13485': (4.18, nan),
 '1348627': (3.89, nan),
 '1349023': (4.17, nan),
 '1351359': (3.79, nan),
 '1353301': (3.8033333333333332, 0.07094598884597572),
 '1357577': (3.61, nan),
 '135841': (4.14, nan),
 '13589': (4.02, nan),
 '13591': (3.95, nan),
 '13599': (4.52, nan),
 '1362751': (4.17, nan),
 '1362939': (4.01, nan),
 '13661': (4.066666666666666, 0.12662279942148363),
 '13663': (4.005, 0.21610182784974294),
 '1367163': (4.68, nan),
 '136729': (3.71, nan),
 '13677': (3.8, 0.26394443859772204),
 '1370283': (4.300000000000001, 0.11882760622010352),
 '137261': (4.126666666666666, 0.08082903768654764),
 '1372693': (4.13, nan),
 '1373880': (4.07, 0.06082762530298221),
 '1375073': (4.0, nan),
 '137554': (4.05, nan),
 '1377': (4.145999999999999, 0.1003992031840894),
 '13778': (4.690000000000001, 0.060415229867972826),
 '137902': (4.292727272727273, 0.19695737557199477),
 '13792': (3.8, nan),
 '138207': (4.04, nan),
 '1383409': (4.17, nan),
 '138426': (4.27, nan),
 '13847': (4.295, 0.049497474683058526),
 '1387272': (4.07, nan),
 '13876': (4.4, nan),
 '13879': (4.16, nan),
 '1388082': (3.91, 0.1523154621172781),
 '138825': (3.87, 0.24041630560342606),
 '13898': (4.1, 0.07071067811865513),
 '13900': (3.94, nan),
 '139434': (4.61, nan),
 '13957': (3.876153846153847, 0.21128726344081333),
 '1395810': (4.02, nan),
 '13974': (4.15, nan),
 '1398188': (4.11, nan),
 '14002': (4.0, nan),
 '1401': (3.9966666666666666, 0.05507570547286076),
 '140125': (4.21, 0.2545584412271567),
 '1402293': (4.56, nan),
 '14032': (4.0, 0.1705872210923196),
 '1405152': (4.255, 0.007071067811865324),
 '14053': (3.84, nan),
 '1406384': (4.055, 0.23097618924902188),
 '14078': (3.9166666666666665, 0.09073771725877441),
 '14079': (3.7, nan),
 '14080': (3.9, 0.0),
 '1408290': (4.245, 0.12020815280171303),
 '1409619': (4.25, nan),
 '1410883': (4.31, nan),
 '1411964': (3.8625, 0.1592430008927655),
 '141301': (3.96, nan),
 '1413437': (4.003333333333333, 0.15534906930308046),
 '14151': (4.035, 0.03535533905932725),
 '14160': (3.89, nan),
 '14164': (4.08, nan),
 '1421619': (3.95, nan),
 '14220': (4.09, nan),
 '142270': (3.46, nan),
 '14233': (4.02, nan),
 '1423732': (3.92, nan),
 '14255': (3.9, nan),
 '14269': (3.92, nan),
 '14280': (3.85, nan),
 '1428675': (3.86, nan),
 '142899': (4.2, nan),
 '1429808': (3.81, nan),
 '1429844': (4.61, nan),
 '1429989': (4.36, 0.18734993995195215),
 '1432': (3.92, 0.07071067811865482),
 '1433597': (4.0, 0.259422435421457),
 '143691': (3.94, nan),
 '1438': (4.145, 0.03535533905932725),
 '1439': (3.9066666666666663, 0.13279056191361366),
 '14403': (4.15, nan),
 '1441': (4.154444444444445, 0.23377933565175882),
 '14424': (3.82, nan),
 '1443712': (3.8633333333333333, 0.22744962812309308),
 '144405': (4.35, nan),
 '14444': (3.93, nan),
 '1446194': (4.305, 0.0212132034355966),
 '14462': (4.11, nan),
 '1446295': (3.89, nan),
 '14465': (3.81, nan),
 '14469': (3.69, nan),
 '14473': (3.965, 0.20506096654409914),
 '1448': (3.01, nan),
 '14521': (3.9, nan),
 '1455': (3.870833333333333, 0.19528339934722078),
 '145926': (3.51, nan),
 '145946': (3.79, nan),
 '1461': (3.7249999999999996, 0.1626345596729059),
 '14617': (3.988571428571429, 0.10166741727940037),
 '1462': (3.68, nan),
 '14635': (4.2, nan),
 '146374': (4.04, 0.08485281374238547),
 '14650': (4.19, nan),
 '1466': (3.9800000000000004, 0.0814861951498533),
 '1467': (3.87, 0.08485281374238578),
 '146797': (4.1, nan),
 '147': (3.72, nan),
 '1476': (4.35, nan),
 '1479015': (3.96, nan),
 '1481537': (3.8449999999999998, 0.021213203435596288),
 '1487748': (3.83, 0.09899494936611673),
 '149625': (3.65, nan),
 '149883': (3.96, nan),
 '14989': (4.28, nan),
 '150038': (4.428461538461539, 0.18876114332872967),
 '1501668': (4.27, nan),
 '150377': (3.99, nan),
 '1503841': (4.13, nan),
 '150484': (3.99, nan),
 '150701': (3.75, nan),
 '150810': (4.36, nan),
 '15085': (4.137499999999999, 0.15945218719101953),
 '151195': (3.95, nan),
 '15123': (3.83, nan),
 '151371': (4.088571428571429, 0.1465638167521315),
 '15151': (3.82, nan),
 '1516687': (4.16, nan),
 '15188': (4.12, nan),
 '152080': (4.4, nan),
 '15248': (4.07, 0.15394804318340663),
 '15292': (4.2250000000000005, 0.1208781967996647),
 '1530940': (3.73, nan),
 '15328': (3.88, nan),
 '15332': (3.91, nan),
 '153394': (4.19875, 0.17183359890977576),
 '153697': (3.99, nan),
 '153732': (4.125, 0.03535533905932788),
 '153734': (3.9699999999999998, 0.16097914683053124),
 '1538': (3.94, nan),
 '15402': (4.14, nan),
 '1544': (3.75, nan),
 '15450': (4.22, 0.0707106781186545),
 '15463': (3.75, nan),
 '15516': (3.77, 0.268700576850888),
 '15538': (4.09, nan),
 '15543': (3.65, nan),
 '155517': (4.130000000000001, 0.07302967433402222),
 '1556719': (3.89, nan),
 '155717': (3.91, nan),
 '155829': (4.1, nan),
 '15590': (4.1, nan),
 '15619': (4.2, 0.0707106781186545),
 '1562974': (4.26, 0.2545584412271574),
 '1567394': (4.086666666666666, 0.032145502536643326),
 '157146': (4.07, nan),
 '1571853': (4.43, nan),
 '157249': (4.09, 0.1131370849898477),
 '157663': (3.865, 0.134350288425444),
 '157676': (3.955, 0.134350288425444),
 '157779': (4.215, 0.07778174593051983),
 '15830': (3.76, nan),
 '158380': (4.41, nan),
 '15865': (4.08, nan),
 '15872': (4.2942857142857145, 0.22509045800680733),
 '15873': (3.931666666666667, 0.11160943807163755),
 '1588088': (3.92, nan),
 '15882': (3.93, nan),
 '15890': (3.973333333333333, 0.09912113800799491),
 '159': (3.6759999999999997, 0.14064138793399328),
 '15905': (3.78, 0.055856960175075784),
 '15907': (3.59, nan),
 '15923': (4.27, nan),
 '15959': (4.035, 0.0212132034355966),
 '15991': (4.3, nan),
 '1599723': (4.166666666666667, 0.20694604771936742),
 '16': (3.716666666666667, 0.36087855759705845),
 '16070': (4.03, nan),
 '16073': (4.08, nan),
 '16094': (4.235, 0.10483320084782322),
 '1612': (4.145, 0.007071067811865952),
 '16143': (4.09, 0.1131370849898477),
 '16201': (3.72, nan),
 '16202': (4.01, nan),
 '16204': (4.043333333333333, 0.01154700538379227),
 '162077': (3.86, nan),
 '16218': (3.9187499999999997, 0.1851977707363516),
 '162326': (4.06, nan),
 '1624': (3.4299999999999997, 0.41581245772583586),
 '16244': (3.92, nan),
 '16264': (3.67, nan),
 '16266': (3.94, nan),
 '16272': (3.755, 0.0919238815542511),
 '1628012': (3.75, nan),
 '163': (3.86, 0.1131370849898477),
 '1630': (4.039999999999999, 0.07924645102463579),
 '16304': (3.76, nan),
 '16319': (4.02, nan),
 '1633234': (4.1, nan),
 '1633682': (3.936666666666666, 0.18903262505010449),
 '1641': (4.18, nan),
 '164187': (3.9760000000000004, 0.2396455716260995),
 '164478': (3.7916666666666665, 0.07167054253085195),
 '164576': (4.09, nan),
 '1647762': (4.003333333333333, 0.0929157324317759),
 '16491': (3.77, nan),
 '16494': (4.03, nan),
 '16496': (4.11, nan),
 '165168': (4.4228571428571435, 0.12351980754981302),
 '1651879': (3.93, nan),
 '1654': (4.1034146341463416, 0.17829203229670076),
 '16593': (3.89, 0.028284271247461926),
 '166079': (3.55, nan),
 '16628': (4.17, nan),
 '16652': (4.09, nan),
 '16667': (4.092307692307692, 0.11402878628909502),
 '1673': (4.44, nan),
 '16747': (4.305, 0.06363961030678918),
 '167605': (3.75, nan),
 '16807': (4.24, 0.09899494936611643),
 '168218': (4.53, nan),
 '16839': (4.135, 0.06363961030678918),
 '16865': (3.825, 0.021213203435596288),
 '16892': (4.27, nan),
 '16893': (4.09, nan),
 '16904': (3.926666666666667, 0.1855622087962238),
 '1691206': (3.61, nan),
 '16927': (3.9850000000000003, 0.0636396103067895),
 '169377': (3.475, 0.3181980515339465),
 '16939': (3.95, nan),
 '16943': (4.13, nan),
 '16961': (4.035, 0.007071067811865324),
 '17015': (3.997333333333333, 0.10693567269736552),
 '170216': (4.2, nan),
 '17054': (4.317000000000001, 0.12311241475442944),
 '17059': (4.1433333333333335, 0.21079215671683177),
 '17061': (3.9875000000000003, 0.2074126322093232),
 '17065': (4.22, 0.10000000000000009),
 '170658': (4.238, 0.07362064927722384),
 '17082': (4.041666666666667, 0.13090709173557669),
 '1711': (4.14, nan),
 '17212': (4.16, nan),
 '17216': (3.9050000000000002, 0.0636396103067895),
 '17219': (4.03, nan),
 '17220': (3.92, nan),
 '17241': (4.21, nan),
 '172487': (4.09, nan),
 '1728': (3.714, 0.1304990421420786),
 '172897': (4.51, nan),
 '17290': (3.69, nan),
 '172977': (4.16, 0.1131370849898477),
 '173': (3.7375000000000003, 0.1590335394395367),
 '1730': (3.8625000000000003, 0.17289206652321168),
 '173491': (3.9, nan),
 '1742': (3.81, 0.12629330940315092),
 '17421': (3.68, nan),
 '17434': (4.39, nan),
 '17439': (3.8, nan),
 '17501': (3.72, nan),
 '17505': (3.28, nan),
 '175329': (4.07, nan),
 '175855': (3.8560000000000003, 0.18902380802428043),
 '17623': (3.5566666666666666, 0.09504384952922165),
 '176372': (4.08, nan),
 '1771': (3.92, nan),
 '17739': (3.94, nan),
 '1774448': (4.13, nan),
 '17854': (4.02, nan),
 '1792350': (3.8200000000000003, 0.1555634918610406),
 '1795488': (4.49, nan),
 '179612': (4.06, nan),
 '179712': (3.9159999999999995, 0.14293355099485924),
 '18': (4.006666666666667, 0.32807519463277546),
 '18015': (4.17, nan),
 '1803294': (4.26, nan),
 '18062': (4.3, 0.07516648189186442),
 '18119': (4.15, nan),
 '181357': (3.71, nan),
 '18143': (3.98, nan),
 '18149': (4.08875, 0.05166858675387639),
 '18206': (4.06, nan),
 '1825': (4.23, nan),
 '183005': (4.27, nan),
 '1831': (3.77, 0.2551470164434616),
 '18317': (4.015000000000001, 0.1343502884254443),
 '183537': (3.61, nan),
 '1838': (3.46, nan),
 '18411': (3.925, 0.007071067811865638),
 '184516': (3.58, nan),
 '18479': (4.205, 0.07778174593051983),
 '184987': (3.94, nan),
 '18520': (4.12, nan),
 '18540': (4.23, 0.12116104984688776),
 '1856386': (4.24, nan),
 '18575': (4.06, nan),
 '1857564': (4.1579999999999995, 0.07395944834840242),
 '1858': (3.8, nan),
 '18675': (3.61, nan),
 '18686': (4.01, nan),
 '18710': (4.27, nan),
 '18719': (4.08, nan),
 '1873': (3.73, nan),
 '1873377': (4.47, nan),
 '18741': (3.65, nan),
 '18752': (4.15, nan),
 '18786': (3.54, nan),
 '18791': (3.79, nan),
 '1881': (4.063333333333333, 0.025166114784235766),
 '18854': (3.86, nan),
 '1886': (3.7060000000000004, 0.07602631123499284),
 '18874': (3.64, nan),
 '188760': (4.29, nan),
 '188932': (3.77, nan),
 '18907': (4.23, nan),
 '18930': (4.18, nan),
 '18943': (3.89, nan),
 '1895943': (4.02, nan),
 '189701': (4.66, nan),
 '1899': (4.12, nan),
 '1899600': (3.81, nan),
 '19005': (3.95, nan),
 '190887': (3.67, 0.04242640687119289),
 '190922': (3.92, nan),
 '19093': (3.67, nan),
 '191456': (4.085, 0.07778174593051983),
 '191681': (3.95, nan),
 '193': (3.78, nan),
 '193164': (4.49, nan),
 '193170': (4.39, nan),
 '1938': (4.105, 0.10650285039780462),
 '1938234': (3.72, nan),
 '19405': (3.945, 0.20615528128088306),
 '1943477': (4.44, nan),
 '19439': (4.02, nan),
 '194416': (3.81, nan),
 '194531': (4.15, nan),
 '1949': (3.775, 0.23334523779156074),
 '195160': (3.94, nan),
 '1954': (3.82, nan),
 '19564': (4.155, 0.16010413278030447),
 '1956402': (4.24, 0.05656854249492385),
 '19595': (4.44, nan),
 '196092': (4.13, nan),
 '19630': (3.98, nan),
 '19651': (4.15, nan),
 '19696': (4.13, nan),
 '19697': (3.83, nan),
 '197': (3.983333333333333, 0.16008331164323975),
 '1970104': (4.5, nan),
 '19708': (4.2175, 0.0763216876123686),

<div class="exercise"><b>Exercise</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [38]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets

dfgb_year = df.groupby('year') # Group the dataframe by 'year'

# Iterate over each year and its corresponding subset
for year, subset in dfgb_year:
    # Find the highest rating in the subset
    best_rating = subset['rating'].max()

    # Filter the books with the best rating
    best_books = subset[subset['rating'] == best_rating]

    # Print the year and the best-rated books for that year
    print(f"Year: {year}")
    print(best_books[['name', 'rating']])  # Display book name and rating
    print("-" * 50)  # Separator for readability

Year: -1500
                       name  rating
1397  The Epic of Gilgamesh     3.6
--------------------------------------------------
Year: -800
                      name  rating
245  The Iliad/The Odyssey    4.01
--------------------------------------------------
Year: -560
                name  rating
1396  Aesop's Fables    4.03
--------------------------------------------------
Year: -512
               name  rating
673  The Art of War    3.92
--------------------------------------------------
Year: -500
                  name  rating
745  The Bhagavad Gita    4.06
--------------------------------------------------
Year: -458
              name  rating
1814  The Oresteia    3.96
--------------------------------------------------
Year: -442
         name  rating
776  Antigone    3.52
--------------------------------------------------
Year: -440
               name  rating
2526  The Histories    3.94
--------------------------------------------------
Year: -431
       name  rating
1427  Medea     3.8
--------------------------------------------------
Year: -429
            name  rating
628  Oedipus Rex    3.64
--------------------------------------------------
Year: -411
                                      name  rating
2077  The History of the Peloponnesian War    3.84
--------------------------------------------------
Year: -400
                name  rating
3132  Complete Works     4.3
--------------------------------------------------
Year: -390
         name  rating
4474  Apology    4.11
--------------------------------------------------
Year: -380
             name  rating
454  The Republic    3.85
--------------------------------------------------
Year: -370
               name  rating
4401  The Symposium    3.99
--------------------------------------------------
Year: -360
                name  rating
5366  Five Dialogues    4.07
--------------------------------------------------
Year: -350
                        name  rating
3273  The Nicomachean Ethics    3.88
--------------------------------------------------
Year: -29
           name  rating
595  The Aeneid    3.77
--------------------------------------------------
Year: 4
                                     name  rating
4716  The Seven Spiritual Laws of Success    4.04
--------------------------------------------------
Year: 8
               name  rating
1329  Metamorphoses    4.01
--------------------------------------------------
Year: 13
                                 name  rating
1751  The Day Jesus Rode Into Croydon    3.85
--------------------------------------------------
Year: 100
                                                   name  rating
2328  The New Oxford Annotated Bible, New Revised St...     4.3
--------------------------------------------------
Year: 121
                    name  rating
4842  The Twelve Caesars    4.02
--------------------------------------------------
Year: 130
            name  rating
1859  Holy Bible    4.45
--------------------------------------------------
Year: 158
                name  rating
4533  The Golden Ass    3.88
--------------------------------------------------
Year: 174
             name  rating
1168  Meditations    4.16
--------------------------------------------------
Year: 200
                    name  rating
1621  The Garden of Eden    3.75
--------------------------------------------------
Year: 201
                 name  rating
5403  Fe Fi FOE Comes    4.37
--------------------------------------------------
Year: 213
               name  rating
2563  NaÃ¯ve. Super     3.9
--------------------------------------------------
Year: 397
             name  rating
1392  Confessions    3.82
--------------------------------------------------
Year: 632
          name  rating
300  The Quran    4.37
--------------------------------------------------
Year: 800
        name  rating
326  Beowulf    3.38
--------------------------------------------------
Year: 900
                   name  rating
568  The Arabian Nights    4.04
--------------------------------------------------
Year: 968
                                             name  rating
4952  La BÃªte humaine (Les Rougon-Macquart, #17)    4.02
--------------------------------------------------
Year: 1002
                 name  rating
2566  The Pillow Book    4.04
--------------------------------------------------
Year: 1008
                  name  rating
851  The Tale of Genji    3.68
--------------------------------------------------
Year: 1010
           name  rating
5438  Shahnameh    4.52
--------------------------------------------------
Year: 1100
                          name  rating
1652  Rubaiyat of Omar Khayyam    4.22
--------------------------------------------------
Year: 1106
           name  rating
5797  The TÃ¡in    3.98
--------------------------------------------------
Year: 1140
                   name  rating
5830  Poema de MÃ­o Cid    3.42
--------------------------------------------------
Year: 1200
                 name  rating
4690  The Poetic Edda    4.24
--------------------------------------------------
Year: 1215
                       name  rating
3310  ÙØ«ÙÙÛ ÙØ¹ÙÙÛ    4.44
--------------------------------------------------
Year: 1220
                name  rating
4053  The Prose Edda    4.16
--------------------------------------------------
Year: 1300
                         name  rating
2862  The Imitation of Christ    4.16
--------------------------------------------------
Year: 1314
                                name  rating
362  Inferno (The Divine Comedy, #1)    3.96
--------------------------------------------------
Year: 1321
                  name  rating
131  The Divine Comedy    4.04
--------------------------------------------------
Year: 1348
              name  rating
912  The Decameron    3.85
--------------------------------------------------
Year: 1386
             name  rating
4421  Auto-da-FÃ©    4.04
--------------------------------------------------
Year: 1390
                                 name  rating
3271  Sir Gawain and the Green Knight    3.66
--------------------------------------------------
Year: 1391
                            name  rating
5541  Keep the Aspidistra Flying    3.86
--------------------------------------------------
Year: 1485
                   name  rating
1612  Le Morte d'Arthur    3.91
--------------------------------------------------
Year: 1516
        name  rating
1691  Utopia    3.46
--------------------------------------------------
Year: 1522
                name  rating
2265  Three Kingdoms    4.41
--------------------------------------------------
Year: 1532
           name  rating
383  The Prince    3.72
--------------------------------------------------
Year: 1572
                     name  rating
2176  The Complete Essays    4.21
--------------------------------------------------
Year: 1589
                  name  rating
5704  Titus Andronicus     3.7
--------------------------------------------------
Year: 1590
                        name  rating
773  The Taming of the Shrew    3.82
--------------------------------------------------
Year: 1592
        name  rating
3953  Monkey    4.04
--------------------------------------------------
Year: 1595
                          name  rating
160  A Midsummer Night's Dream    3.93
--------------------------------------------------
Year: 1597
             name  rating
1203  Richard III     3.9
--------------------------------------------------
Year: 1599
                       name  rating
538  Much Ado About Nothing    4.05
--------------------------------------------------
Year: 1600
         name  rating
2686  Henry V    3.85
--------------------------------------------------
Year: 1601
              name  rating
488  Twelfth Night    3.95
--------------------------------------------------
Year: 1602
        name  rating
3096  Hamlet    3.98
--------------------------------------------------
Year: 1603
        name  rating
244  Othello    3.86
--------------------------------------------------
Year: 1604
                name  rating
2383  Doctor Faustus    3.77
--------------------------------------------------
Year: 1605
          name  rating
247  King Lear    3.88
--------------------------------------------------
Year: 1606
                      name  rating
2453  Antony and Cleopatra    3.64
--------------------------------------------------
Year: 1608
            name  rating
5344  Coriolanus    3.65
--------------------------------------------------
Year: 1609
                      name  rating
796  Shakespeare's Sonnets    4.24
--------------------------------------------------
Year: 1611
            name  rating
4616  Holy Bible    4.39
--------------------------------------------------
Year: 1621
                           name  rating
5597  The Anatomy of Melancholy    4.21
--------------------------------------------------
Year: 1623
                   name  rating
282  The Complete Works     4.5
--------------------------------------------------
Year: 1635
                   name  rating
3199  La vida es sueÃ±o    3.98
--------------------------------------------------
Year: 1642
                      name  rating
4876  A Book of Five Rings    4.11
--------------------------------------------------
Year: 1667
              name  rating
253  Paradise Lost    3.77
--------------------------------------------------
Year: 1678
                       name  rating
896  The Pilgrim's Progress    3.92
--------------------------------------------------
Year: 1680
           name  rating
4791  The Divan    4.65
--------------------------------------------------
Year: 1691
                                     name  rating
3216  The Practice of the Presence of God    4.31
--------------------------------------------------
Year: 1719
                name  rating
391  Robinson Crusoe    3.62
--------------------------------------------------
Year: 1721
               name  rating
4546  Moll Flanders    3.45
--------------------------------------------------
Year: 1726
                   name  rating
314  Gulliver's Travels    3.52
--------------------------------------------------
Year: 1729
                                             name  rating
1218  A Modest Proposal and Other Satirical Works    4.03
--------------------------------------------------
Year: 1748
                                           name  rating
3787  Clarissa, or, the History of a Young Lady    3.28
--------------------------------------------------
Year: 1749
                                       name  rating
1513  The History of Tom Jones, a Foundling    3.72
--------------------------------------------------
Year: 1759
        name  rating
257  Candide    3.74
--------------------------------------------------
Year: 1767
                                                  name  rating
982  The Life and Opinions of Tristram Shandy, Gent...    3.76
--------------------------------------------------
Year: 1774
                             name  rating
909  The Sorrows of Young Werther    3.59
--------------------------------------------------
Year: 1776
                                                   name  rating
4893  The Declaration of Independence and The Consti...    4.44
--------------------------------------------------
Year: 1778
         name  rating
4992  Evelina    3.62
--------------------------------------------------
Year: 1781
                         name  rating
2536  Critique of Pure Reason    3.85
--------------------------------------------------
Year: 1782
                          name  rating
1214  Les Liaisons Dangereuses    4.08
--------------------------------------------------
Year: 1787
                                                  name  rating
1267  The Constitution of the United States of America    4.52
--------------------------------------------------
Year: 1790
                                 name  rating
5354  The Marriage of Heaven and Hell    4.27
--------------------------------------------------
Year: 1791
                          name  rating
3926  Dream of the Red Chamber    4.05
--------------------------------------------------
Year: 1794
                                     name  rating
772  Songs of Innocence and of Experience    4.11
--------------------------------------------------
Year: 1795
          name  rating
2470  The Monk    3.77
--------------------------------------------------
Year: 1798
                 name  rating
5299  Lyrical Ballads    3.92
--------------------------------------------------
Year: 1806
                         name  rating
5172  Phenomenology of Spirit    3.85
--------------------------------------------------
Year: 1811
                       name  rating
4817  Sense and Sensibility    4.04
--------------------------------------------------
Year: 1812
                                 name  rating
842  The Complete Grimm's Fairy Tales    4.29
--------------------------------------------------
Year: 1813
                  name  rating
3  Pride and Prejudice    4.23
--------------------------------------------------
Year: 1814
               name  rating
327  Mansfield Park    3.79
--------------------------------------------------
Year: 1815
      name  rating
3911  Emma    3.97
--------------------------------------------------
Year: 1817
            name  rating
3353  Persuasion    4.12
--------------------------------------------------
Year: 1818
            name  rating
60  Frankenstein     3.7
--------------------------------------------------
Year: 1819
        name  rating
636  Ivanhoe    3.71
--------------------------------------------------
Year: 1820
                             name  rating
3304  The Legend of Sleepy Hollow    3.94
--------------------------------------------------
Year: 1823
                           name  rating
586  The Night Before Christmas    4.34
--------------------------------------------------
Year: 1824
          name  rating
2540  Don Juan    3.79
--------------------------------------------------
Year: 1825
              name  rating
923  Eugene Onegin    4.03
--------------------------------------------------
Year: 1826
                                                  name  rating
856  The Last of the Mohicans (The Leatherstocking ...    3.67
--------------------------------------------------
Year: 1830
                   name  rating
616  The Book of Mormon    4.42
--------------------------------------------------
Year: 1831
                            name  rating
389  The Hunchback of Notre-Dame    3.93
--------------------------------------------------
Year: 1832
       name  rating
4316  Faust    3.98
--------------------------------------------------
Year: 1833
        name  rating
5249  Poetry    4.04
--------------------------------------------------
Year: 1834
              name  rating
3776  PÃ¨re Goriot    3.79
--------------------------------------------------
Year: 1835
                                                   name  rating
4190  Hymns of The Church of Jesus Christ of Latter-...    4.68
--------------------------------------------------
Year: 1837
                                   name  rating
4689  A Season in Hell/The Drunken Boat    4.34
--------------------------------------------------
Year: 1839
                    name  rating
2266  A Hero of Our Time    4.09
--------------------------------------------------
Year: 1840
                                  name  rating
3532  Tales of Mystery and Imagination     4.2
--------------------------------------------------
Year: 1841
                        name  rating
2710  The Old Curiosity Shop    3.69
--------------------------------------------------
Year: 1842
                                                   name  rating
4933  The pit and the pendulum and other stories (Pe...    4.12
--------------------------------------------------
Year: 1843
                name  rating
3606  Lost Illusions    4.14
--------------------------------------------------
Year: 1844
           name  rating
2113  The Raven    4.23
--------------------------------------------------
Year: 1845
                          name  rating
953  The Raven and Other Poems    4.27
--------------------------------------------------
Year: 1847
         name  rating
33  Jane Eyre    4.07
--------------------------------------------------
Year: 1848
                                name  rating
2865  White Nights and Other Stories    4.09
--------------------------------------------------
Year: 1849
         name  rating
3769  The Law     4.4
--------------------------------------------------
Year: 1850
         name  rating
4444  Ishmael     4.4
--------------------------------------------------
Year: 1851
              name  rating
5047  Paris Spleen    4.33
--------------------------------------------------
Year: 1852
                  name  rating
254  Uncle Tom's Cabin    3.77
--------------------------------------------------
Year: 1853
                                           name  rating
3042  The History of Joseph Smith by His Mother    4.37
--------------------------------------------------
Year: 1854
                             name  rating
1812  Walden & Civil Disobedience    3.97
--------------------------------------------------
Year: 1855
                name  rating
501  North and South    4.13
--------------------------------------------------
Year: 1856
                name  rating
4327  Song of Myself    4.17
--------------------------------------------------
Year: 1857
                   name  rating
1244  Les Fleurs du Mal    4.26
--------------------------------------------------
Year: 1859
                      name  rating
357  The Origin of Species    3.94
--------------------------------------------------
Year: 1860
                     name  rating
4093  Stepping Heavenward    4.27
--------------------------------------------------
Year: 1861
                       name  rating
536  Notes from Underground    4.14
--------------------------------------------------
Year: 1862
               name  rating
14  Les MisÃ©rables    4.09
--------------------------------------------------
Year: 1863
                                                   name  rating
5013  From the Earth to the Moon (Extraordinary Voya...    3.76
--------------------------------------------------
Year: 1864
                   name  rating
1515  Our Mutual Friend    4.08
--------------------------------------------------
Year: 1865
                                                   name  rating
12    Alice's Adventures in Wonderland & Through the...    4.05
1377                                Wives and Daughters    4.05
--------------------------------------------------
Year: 1866
                                                   name  rating
5100  Morning and Evening, Based on the English Stan...    4.49
--------------------------------------------------
Year: 1867
                                     name  rating
3078  Capital, Volume 1 (Das Kapital, #1)    4.15
--------------------------------------------------
Year: 1868
                               name  rating
91  Little Women (Little Women, #1)     4.0
--------------------------------------------------
Year: 1869
          name  rating
272  The Idiot    4.15
--------------------------------------------------
Year: 1870
                name  rating
4180  Complete Works    4.42
--------------------------------------------------
Year: 1871
                                                   name  rating
2875  Through the Looking-Glass, and What Alice Foun...    4.09
--------------------------------------------------
Year: 1872
            name  rating
291  Middlemarch    3.89
--------------------------------------------------
Year: 1873
                                name  rating
933  Around the World in Eighty Days    3.87
--------------------------------------------------
Year: 1874